@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #1E3A5F;
    --secondry-color: #9C6654;
    --ancent1-color: #B4B4B4;
    --accent2-color: #FF6F61; 

    --heading-font: 'Montserrat', Sans-serif;
    --paragraph-font: 'lato',Sans-serif;

    --nav-background-color:#eee;
    --nav-link-color: rgb(0, 0, 0);
    --nav-hover-link-color: #032cf5;
    --nav-hover-backgound-color: rgb(212, 225, 236);
}
h1,h2,h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    font-size: 1.5rem;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1.5rem;
}
.social-link {
    text-decoration: none;
  } 
body {
    max-width: 1100px;
    margin: 0 auto;
  }
  .hero {
    position: relative;
    width: 100%;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hero h1 {
    display: block;
    background-color: rgba(255, 255, 255, 0.177);
    width: 100em;
    position: absolute;
    top: 30px;
    left: 50px  ;
    color:#000;
  }

  .hero article {
    position: absolute;
    bottom: 50px; 
    left: 600px; 
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px; 
  }
  
  .hero article p img {
    float: left;
    margin-left: 2px;
  }

  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
}