@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #1E3A5F;
    --secondry-color: #9C6654;
    --ancent1-color: #B4B4B4;
    --accent2-color: #FF6F61; 

    --heading-font: 'Montserrat', Sans-serif;
    --paragraph-font: 'lato',Sans-serif;

    --nav-background-color:#eee;
    --nav-link-color: rgb(0, 0, 0);
    --nav-hover-link-color: #032cf5;
    --nav-hover-backgound-color: rgb(212, 225, 236);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--ancent1-color);
}
p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backgound-color);
}

