@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
  }

  form{
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: r1px;
    background-color: rgb(223, 223, 223);
    display: grid;
}

  .container {
    max-width: 620px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: navy;
  }

  label {
    font-weight: lighter;
    padding: 5px;
  }

  input[type="text"],
  textarea,
  select,
  input[type="number"],
  button {
    width: 100%;
    padding: 3px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    font-size: 10px;
  }

  button {
    background-color: navy;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #0056b3;
  }