*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    /* max-width: 1200px; */
    margin: 1rem;
    /* padding: 0 20px; */
    grid-column: 2/3;
} 
header,.grid, footer{
    max-width: 840px;
    margin: 0 auto;
}
aside {
    width: 20em;
    /* text-align: center; */
    /* margin: 1em; */
    position: relative;
    grid-row: 1/2;
    grid-column: 1/2;   
}
aside img {
    width: 200px;
    height: auto;
    /* text-align: center;
    position: relative; */
}
aside h2 {
    position: absolute;
    top: 10px;
    left:80px;
}
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:larger;
}
.social-link{
    text-decoration: none;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: steelblue;
    border-bottom: 2px solid #000;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    padding:0;
}
footer {
    margin-top: 15px;
    border-top: 2px solid #000;
}

        /* class seletor */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}
.indent {
    padding-left: 2rem;
}
.grid{
    display: grid;
    align-items: center;
}
